div.admonition {
    background-color: transparent;
    border: 4px solid #90d5f2;
}
div.admonition > p.admonition-title {
    background-color: #90d5f2;
    font-size: x-large;
}
div.body h1 { font-size: 1.5em; }
div.body h2 { font-size: 1.3em; }
div.body h3 { font-size: 1.1em; }
div.body h4 { font-size: 0.9em; }
div.body h5 { font-size: 0.8em; }
div.body h6 { font-size: 0.7em }
.raw-title {
    font-size: 1.5em;
}
.dynamic-size-iframe {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%; /* Aspect ratio 16:9 */
    height: 0;
}
.dynamic-size-iframe iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
