name: website
concurrency:
  group: ${{ github.workflow }}-${{ github.event.number }}-${{ github.event.ref }}
  cancel-in-progress: true
on:  # yamllint disable-line rule:truthy
  pull_request:
  push:
    branches: [main]
  workflow_dispatch:

jobs:
  build:
    timeout-minutes: 10
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-python@v6
        with:
          python-version: 3.11
          architecture: 'x64'
      - name: Install linux dependencies
        run: |
          sudo apt update
          sudo apt install -y optipng
      - name: Install package
        run: |
          python -m pip install --progress-bar off --upgrade pip setuptools
          python -m pip install --progress-bar off .[website]
      - run: wp-sys_info --developer
      - name: Build documentation
        run: |
          make -C website html
          rm -R ./website/_build/html/.doctrees
      - uses: actions/upload-artifact@v5
        with:
          name: doc-build
          path: ./website/_build/html

  deploy:
    if: ${{ github.event_name == 'push' }}
    needs: build
    timeout-minutes: 10
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v5
      - uses: actions/download-artifact@v6
        with:
          name: doc-build
          path: ./doc-build
      - uses: JamesIves/github-pages-deploy-action@v4
        with:
          folder: ./doc-build
          target-folder: .
          git-config-name: 'github-actions[bot]'
          git-config-email: 'github-actions[bot]@users.noreply.github.com'
          single-commit: true
          force: true
          clean: true
          clean-exclude: |
            staging/
            CNAME
            .nojekyll
            .gitignore
            robots.txt

  get_commit_message:
    name: get commit message
    runs-on: ubuntu-latest
    outputs:
      commit_message: ${{ steps.get_message.outputs.commit_message }}
    steps:
      - uses: actions/checkout@v5
        with:
          # ensure the correct commit is checked out for PRs or pushes
          ref: ${{ github.event.pull_request.head.sha || github.sha }}
          fetch-depth: 1
      - run: echo "commit_message=$(git log -1 --pretty=%s)" >> $GITHUB_OUTPUT
        id: get_message

  deploy-staging:
    if: ${{ github.event_name == 'pull_request' && contains(needs.get_commit_message.outputs.commit_message, '[deploy]') }}
    needs: [get_commit_message, build]
    timeout-minutes: 10
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v5
      - uses: actions/download-artifact@v6
        with:
          name: doc-build
          path: ./doc-build
      - uses: JamesIves/github-pages-deploy-action@v4
        with:
          folder: ./doc-build
          target-folder: ./staging/
          git-config-name: 'github-actions[bot]'
          git-config-email: 'github-actions[bot]@users.noreply.github.com'
          single-commit: true
          force: true
          clean: true
